@import "./colors";
@import "./variabels";

main {
  width: 100%;
  height: calc(100vh - #{$header-height});

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-text;
}
