header {
  background-color: #58355e;
  height: 64px;
  width: 100%;
}

.header-wrapper {
  height: 100%;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu {
  width: 42px;
  height: 32px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-menu .burger-line {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #f3fcec;
}

.logo {
  color: #1b0f1d;
}

main {
  width: 100%;
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b0f1d;
}

#overlay {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

#left-panel {
  position: absolute;
  z-index: 11;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #58355e;
}

.panel-wrapper {
  opacity: 0;
}

#right-panel {
  position: absolute;
  z-index: 11;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #58355e;
}

#overlay-content {
  position: relative;
  z-index: 11;
  width: 90%;
  margin: auto;
  height: 100%;
  opacity: 0;
  width: 50%;
  margin: auto;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  padding: 10rem 0;
}

.nav-links-wrapper a {
  text-decoration: none;
  color: #f3fcec;
  font-size: 2em;
  text-align: center;
}

#logo-overlay {
  position: relative;
  top: 1rem;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  right: 90%;
}

#burger-menu-close {
  position: relative;
  top: 1rem;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  left: 90%;
  width: 42px;
  height: 32px;
  cursor: pointer;
  z-index: 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#burger-menu-close .burger-line {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #f3fcec;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f3fcec;
}
/*# sourceMappingURL=main.css.map */